.contant_about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 5rem;

    img {
        border-radius: 50%;
    }

    div {
        h1 {
            font-size: 2rem;
            margin-bottom: 5px;
        }

        p:nth-child(1) {
            color: #777;
            font-weight: bold;
            font-size: 12px;
        }
    }

}

.contant_projects {
    h2 {
        text-align: center;
        margin-bottom: 3rem;
    }
}

.card_all-projects {
    position: relative;

    span:nth-child(2) {
        img {
            position: absolute;
            top: 0.4rem;
            left: 6px;

            width: 6.2rem;
            height: 13.2rem;
            border-radius: 10px;
            z-index: -1;
        }
    }

    span:nth-child(3) {
        img {
            position: absolute;
            top: 2.2rem;
            left: 7.8rem;

            width: 20.2rem;
            height: 11.6rem;

            z-index: -1;
        }
    }
}

.container_projects-nsoluçoes,
.container_projects-trasforms,
.container_projects-blog {
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-bottom: 5rem;

    div {
        h3 {
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 0.8rem;
        }
    }
}

.card_links {
    display: flex;
    gap: 2rem;

    a {
        background-color: #2e2e2e;
        color: white;
        text-decoration: none;
        padding: 0.2rem 1rem;
        border-radius: 5px;

        &:hover {
            background-color: #222;
            color: #dadada;
        }
    }
}

@media (max-width:950px) {
    .contant_about-me {
        gap: 1rem;
    }

    .card_all-projects {
        text-align: center;
    }

    .card_links {
        display: flex;
        justify-content: center;
    }

    .container_projects-nsoluçoes,
    .container_projects-trasforms,
    .container_projects-blog {
        display: grid;
    }

    .container_projects-nsoluçoes,
    .container_projects-blog {
        div:nth-child(2) {
            grid-row: 1;
        }
    }
}